@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Rendering
@model mabhuku.Models.BookModel
@{
  ViewData["Title"] = "Edit book";
}

<h2>Add new book</h2>
<div class="ui two column grid">
  <div class="column">
    @using (Html.BeginForm("Edit", "Books", FormMethod.Post, new {@class = "ui form"}))
    {
      <div class="field">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
      </div>
      <div class="field">
        @Html.LabelFor(model => model.Author)
        @Html.EditorFor(model => model.Author)
      </div>
      <div class="field">
        @Html.LabelFor(model => model.Link)
        @Html.EditorFor(model => model.Link)
      </div>
      <div class="field">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
      </div>
      <button class="ui button" type="submit">Submit</button>
    }
  </div>
</div>
